<h1>Search!</h1>

<div class="users-search">
  <form class="simple-form">
    <label for="user-search-input">Username</label>
    <input class="user-search-input" type="text" name="username">
  </form>
  <ul class="users"></ul>
</div>